body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
button{
    padding: 7px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid dodgerblue;
    background: linear-gradient(120deg, rgba(0,0,0,0.8), rgba(50,50,50,0.6));
    color: white;
}

.app {
  max-width: 750px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input_box {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  gap: 0.5rem;
}

input {
  padding: 8px 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  flex: 1;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.btn {
  padding: 0px 25px;
  background-color: #5baaff;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.tab {
  padding: 0px 10px;
  padding-bottom: 3px;
  cursor: pointer;
}

.tab h5 {
  font-size: 16px;
}

.activetab {
  border-bottom: 2px solid black;
}

.todo-list{
margin-top: 10px;
}
